<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head th:replace="fragments/general :: baseHeader(~{:: title})">
    <title>Voeg plant toe</title>
</head>

<body>
<div th:replace="fragments/general :: navbar"></div>
    <h1>Voeg een plant toe</h1>

    <form th:action="@{/plants/new}" method="post" th:object="${plant}">
        <input type="hidden" th:field="*{plantId}">
        <table>
            <tr>
                <td>Naam</td>
                <td><input type="text" th:field="*{name}"></td>
            </tr>

                <td>
                <select th:field="*{verzorgingKenmerken}" multiple>
                    <option th:each="verzorging : ${allVerzorgingKenmerken}" th:value="${verzorging.verzorgingId}" th:text="${verzorging}"></option>
                </select>
            </td>
<!--        <tr>-->
<!--            <td>Zaaitijd</td>-->
<!--            <td><input type="text" th:field="*{zaaiTijd}"></td>-->
<!--        </tr>-->
<!--        <tr>-->
<!--        <td>Standplaats</td>-->
<!--        <td><input type="text" th:field="*{standPlaats}"></td>-->
<!--        </tr>-->
<!--        <tr>-->
<!--        <td>Verzorging</td>-->
<!--        <td><input type="text" th:field="*{verzorging}"></td>-->
<!--        </tr>-->
<!--        <tr>-->
<!--        <td>Goede buren</td>-->
<!--        <td><input type="text" th:field="*{goedeBuren}"></td>-->
<!--        </tr>-->
<!--        <tr>-->
<!--        <td>Slechte buren</td>-->
<!--        <td><input type="text" th:field="*{slechteBuren}"></td>-->
<!--        </tr>-->
<!--        <tr>-->
<!--        <td>Locatie in het bos</td>-->
<!--        <td><input type="text" th:field="*{locatie}"></td>-->
<!--        </tr>-->
        </table>

        <input type="submit" value="Sla plant op">
    </form>
<div th:replace="fragments/general :: footer"></div>
<div th:replace="fragments/general :: bottomScripts"></div>
</body>
</html>