<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Overzicht van de planten</title>
    <link rel="stylesheet" type="text/css" href="/css/plants.css"/>
</head>
<body>
<h1>Overzicht van de planten</h1>
<table>
    <tr>
        <th>naam</th>
        <th>zaaitijd</th>
        <th>standplaats</th>
        <th>verzorging</th>
        <th>goede buren</th>
        <th>slechte buren</th>
        <th>locatie bos</th>
        <th>delete</th>
        <th>edit</th>
        <th>stocknr</th>
        <th>Voorraad</th>
    </tr>
    <tr th:each="plant : ${allPlants}">
        <td><a th:href="@{/plants/details/{name}(name=${plant.name})}"  th:text="${plant.name}">Naam</a></td>
        <td th:text="${plant.verzorgingsKenmerkenDisplayString}"></td>
<!--        <td th:text="${plant.zaaiTijd}"></td>-->
<!--        <td th:text="${plant.standPlaats}"></td>-->
<!--        <td th:text="${plant.verzorging}"></td>-->
<!--        <td th:text="${plant.goedeBuren}"></td>-->
<!--        <td th:text="${plant.slechteBuren}"></td>-->
<!--        <td th:text="${plant.locatie}"></td>-->
        <td><a th:href="@{/plants/delete/{plantId}(plantId=${plant.plantId})}">Delete</a></td>
        <td><a th:href="@{/plants/edit/{plantId}(plantId=${plant.plantId})}">Edit</a></td>
        <td>
            <span th:text="${plant.numberOfAvailableStocknrs}"></span>
            <a th:href="@{/stock/new/{plantId}(plantId=${plant.plantId})}">Inkoop</a>
        </td>
    </tr>
</table>

<a th:href="@{/plants/new}">Voeg een nieuwe plant toe</a>
</body>
</html>